@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

*{
    font-family: 'Averia Serif Libre', cursive;
    font-style: bold!important;
    scroll-behavior: smooth;
}

body{

    background-image: url(../img/fundo-index.jpg);
    background-size: 2220px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.imagem{
    transition-property: transform;
    transition-duration: 800ms;
}

.imagem:hover{
    transform: scale(1.2);
}

nav{
    background-color: rgb(0, 0, 0)!important;
}
#logoBrasileiraoNav{
    width: 3.5rem!important;
    margin: 10px;
}

.navbar-toggler{
    background-color: white;
}

.nav-link{
    color: white!important;
    border: none;
    margin-top: 0!important;
    margin-bottom: 0!important;
    transition-property: all!important;
    transition-duration: 750ms!important;
}

.nav-item a {
   margin-left: 5rem;
}

.nav-link:hover{
    background-color: #eeff00!important;
    color: black!important;
    border-radius: 0!important;
    transform: scale(1.2)!important;
}

#lupa{

    border-color: #ffffff;
}

#lupa:hover{
    background-color:#eeff00;
    border-color: #ffffff;
}

#pesquisar:hover{
    cursor: pointer!important;
}

#pesquisar:focus{
    cursor: text!important;
}

#logoDoBrasileraoTabela{
    float: left;
}

#tabela{
    background-color: #09dbdba8!important;

}

table{
    border:2px solid rgb(0, 0, 0)!important;
}

table th , table th tr {
    border:0.8px solid black!important;
}

table td , table td tr{
    border:1.29px solid black!important;
}

table tr{
    transition-property: background;
    transition-duration: 1s;
}

tr:hover{
    background: radial-gradient(rgba(255, 255, 255, 0.404),rgba(32, 32, 32, 0.52))!important;
}



#verde{
    width: 1px!important;
    height: 5px;
    border: 15px solid ;
    border-color: rgba(0, 221, 11, 0.671);
}

#amarelo{
    width: 1px!important;
    height: 5px;
    border: 15px solid ;
    border-color: rgba(221, 218, 22, 0.692) ;
}
#laranja{
    width: 1px!important;
    height: 5px;
    border: 15px solid ;
    border-color: rgba(219, 127, 6, 0.712) ;;
}

#cinza{
    width: 1px!important;
    height: 5px;
    border: 15px solid ;
    border-color: rgba(143, 142, 142, 0.74) ; ;
}

#vermelho{
    width: 1px!important;
    height: 5px;
    border: 15px solid ;
    border-color: rgba(220, 20, 60, 0.527); ;
}

#vivo{
    background-color: violet;
    margin-top: 5rem;
    height: 700px;
    width: 100%;
    border: 5px solid rebeccapurple;
}

#premiere{
    background-color: white;
    margin-top: 5rem;
    height: 700px;
    width: 100%;
    border: 5px solid rgb(21, 153, 49);
}

#rodape{
    background-color: rgba(182, 178, 178, 0.678);
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
}

.btn{
    background-color: #000000;
    color: white;
    transition-property: background-color;
    transition-duration: 350ms;
}

.btn:hover{
    background-color: #eeff00;
}

.desenvolvedor a {
    text-decoration: none;
    font-style:italic;
    color: rgb(86, 82, 88);
}

.desenvolvedor a:hover{
    margin: 15px;
}

form label{
    letter-spacing: 0.15rem;
    padding: 0.22rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px dimgray!important;
}

form input{
    border: 2px solid black!important;
}

form input:hover{
    cursor: pointer!important;
}

form input:focus{
    cursor: text!important;
    border: 2px solid #eeff00!important;
}

form textarea{
    border: 2px solid black!important;
}

form textarea:hover{
    cursor: pointer!important;
}

form textarea:focus{
    cursor: text!important;
    border: 2px solid #eeff00!important;
}

.form-control:focus{
    box-shadow: 1px 1px 5px #eeff00!important;
}

#deixe-sua-mensagem{
    font-weight: bold;
    padding: 1rem;
    
    text-shadow: 1px 1px 2px dimgray!important;
}

#contato-div span{
    font-size: 1.5rem;
}

@media screen and (max-width:1366px) {
    #vivo figure{
        padding-top: 7rem!important;
    }
    #contato-div span{
        font-size: 1.3rem!important;
    }
    #contato-div img{
        width: 80px!important;
    }
}


@media screen and (min-height:1200px) {
    body{
        background-size: 275%;
    }
}


@media screen and (max-width:1024px) {
    #vivo{
        height: 450px;
    }
    #vivo figure{
        padding-top: 4rem!important;
    }
    #instagram-icon{
        padding: 0.5rem!important;
    }
    #contato-div img{
        float: none!important;
        width: 100px!important;
    }
}

@media screen and (max-width:765px){

    #redesocias{
        text-align: center!important;
        
    }
    #redesocias img{
        width: 80px!important;
        margin: 0 2rem 0 2rem!important;
    }
    #contato-div{
        text-align: center;
    }
    #contato-div img{
        float: none!important;
    }
    #contato-div span{
        padding: 0rem 0.5rem 0rem 0.5rem!important;
    }
    br{
        content:' ';
    }
    #vivo{
        height: 700px;
    }
    #vivo figure{
        padding-top: 0rem!important;
    }
}
@media screen and (max-width:480px){

  th img{
        width: 50%!important; 
        margin: 0 auto!important;
    
    }
    #logoDoBrasileraoTabela img ,#logoDoBrasileraoTabela img h2{
        height: 30%!important;
        width: 70%!important;
    }
    #vivo figure{
        padding-top: 1rem!important;
    }
    br{
        content:normal;
    }
}

@media screen and (max-width:375px) {
    #vivo figure{
        padding-top: 2.5rem!important;
    }
}
@media screen and (max-width:300px) {
    #vivo figure{
        padding-top: 5rem!important;
    }
}